{% extends "base.html" %}

{% block content %}

<section class="home">

  <!-- HERO SECTION -->
  <section class="hero-section">

    <div class="hero-content">

      <h1 class="hero-title">
        SyncWave 🎧
      </h1>

      <div class="hero-buttons">

        <a href="/mood">
          <button class="btn-primary">
            EXPLORE YOUR MOOD
          </button>
        </a>

      </div>

    </div>

  </section>

  <!-- PLAYER SECTION -->
  <section class="player-section">

    <h2>
      THE PLAYER
    </h2>

    <div
      class="player-card"
      id="player-container">
    </div>

  </section>

</section>

{% endblock %}