{% extends "base.html" %}

{% block content %}

<section class="home">

  <!-- HERO SECTION -->
  <section class="hero-section">

    <div class="hero-content">

      <h1 class="hero-title">
        SyncWave 🎧
      </h1>

      <div class="hero-buttons">

        <a href="/mood">
          <button class="btn-primary">
            EXPLORE YOUR MOOD
          </button>
        </a>

      </div>

    </div>

  </section>

  <!-- PLAYER SECTION -->
  <section class="player-section">

    <h2>
      THE PLAYER
    </h2>

    <div class="player-card">

      <iframe
        style="border-radius:16px"
        src="https://open.spotify.com/embed/track/5XeFesFbtLpXzIVDNQP22n"
        width="100%"
        height="352"
        frameborder="0"
        allow="autoplay; encrypted-media"
        loading="lazy">
      </iframe>

    </div>

  </section>

</section>

{% endblock %}